.header__top
    .container
        .header__content
            nav.header__nav.header-nav
                u1.header-nav__list
                    +headerNavLink('','Об аптеке')
                    +headerNavLink('','Доставка и оплата')
                    +headerNavLink('','Акции')
                    +headerNavLink('','Оптовикам')
                    +headerNavLink('','Новости')
                    +headerNavLink('','Гарантии')
                    +headerNavLink('','Контакты')
            nav.header__nav.header__nav--right.header-nav
                u1.header-nav__list
                    +headerNavLink('','Регистрация')
                    +headerNavLink('','Вход')