section.s-about
.container
    h2.title-section О нас
    .about.tabs
        .tabs__body.about__body
            .tab.tab--active.tab-shop
                p.text Помимо оказания фармацевтической помощи, аптеки выполняют функции учебно-производственной базы направления «Фармация» медицинского института и медицинского колледжа НИУ «БелГУ».
                p.text На базе аптек НИУ «БелГУ» ежегодно проходят практику студенты университета и медицинского колледжа, магистранты и аспиранты направления «Фармация». Ежегодно на базе УНК «Аптеки БелГУ» проводится процедура государственной аккредитации специалистов.
                p.text Сегодня в аптеках НИУ «БелГУ» работают бывшие выпускники направления «Фармация», которые применяют полученные во время учебы в университете знания на практике.
            .tab.tab-advantages
                p.text 1
            .tab.tab-service
                p.text 2
            .tab.tab-delivery
                p.text Учебно-научный комплекс «Аптеки НИУ БелГУ» включает в себя аптеку по ул. Победы 85 (корпус 17), аптеку по адресу Народный бульвар, 21 (корпус 19) и аптечный пункт по ул. Студенческая, 14 (корпус 4). Первая аптека в 17 корпусе была открыта в 2005 году.
        ul.tabs-navigation.about-navigation
            li(show-tab="tab-shop").about-navigation__item.tabs-navigation__item.tabs-navigation__item--active Аптека БелГУ
            li(show-tab="tab-advantages").about-navigation__item.tabs-navigation__item Наши преимущества
            li(show-tab="tab-service").about-navigation__item.tabs-navigation__item Заказ-онлайн
            li(show-tab="tab-delivery").about-navigation__item.tabs-navigation__item Местоположение