section.s-advantages
    .container
        .advantages
          .advantage
            +icon('car','advantage__icon')
            .advantage__body
              span.advantage__title Заказ
              span.advantage__descr онлайн
          .advantage
            +icon('badge','advantage__icon')
            .advantage__body
              span.advantage__title Гарантия
              span.advantage__descr качества всех товаров
          .advantage
            +icon('discount','advantage__icon')
            .advantage__body
              span.advantage__title Акции
              span.advantage__descr на товары