section.s-banner
    .container
        .banner
            .banner__navigation.banner__navigation--prev
                +icon('chevron-left','banner__navigation-icon')
            .banner__navigation.banner__navigation--next
                +icon('chevron-right','banner__navigation-icon')
            .banner__dots
            .js-banner
                .banner__item
                  .banner__content
                    .banner__body
                      span.banner__title Собраться вместе есть начало.
                      span.banner__descr Держаться вместе есть прогресс. Работать вместе есть успех.
                      a(href="").btn.btn--transparent-white.btn--round.btn--inline Выбрать
                    .banner__img-wrapper
                      img(src="static/images/content/banner-2.png" alt="Картинка на баннере").banner__img.banner__body
                .banner__item
                    .banner__content
                        .banner__body
                            span.banner__title  Будьте заняты.
                            span.banner__descr  Это самое дешевое лекарство на земле — и одно из самых эффективных.
                            a(href="").btn.btn--transparent-white.btn--round.btn--inline Выбрать
                        .banner__img-wrapper
                            img(src="static/images/content/banner-3.png" alt="Картинка на баннере").banner__img.banner__body
                .banner__item
                    .banner__content
                        .banner__body
                            span.banner__title Собраться вместе есть начало.
                            span.banner__descr Держаться вместе есть прогресс. Работать вместе есть успех.
                            a(href="").btn.btn--transparent-white.btn--round.btn--inline Выбрать
                        .banner__img-wrapper
                            img(src="static/images/content/banner-2.png" alt="Картинка на баннере").banner__img.banner__body