// Colors
$white: #ffffff;
$black: #000000;

$mine-shaft    : #262626;
$tundora       : #4b4b4b;
$mid-gray      : #6e6e6f;
$dusty-gray    : #999999;
$oslo-gray     : #939495;
$silver-chalice: #a9a9a9;
$silver        : #cccccc;
$alto          : #dddddd;
$parcelain     : #f6f8f9;
$wild_sand     : #f6f6f6;
$athens-gray   : #eef2f4;

$fun-green       : #018846;
$chelsea-cucumber: #8EB359;


$placeholder-color: #a6a6a6;


// Sizes
$base-font-size: 14px;

$content-size: 1140px;

// Fonts

$main-font: 'Open Sans',Arial,sans-serif;