.main-nav__dropdown-wrapper
    .main-nav__dropdown
            ul.main-subnav__list
                li.main-subnav__item
                    a(href="").main-subnav__link
                        span.main-subnav__text Таблетки для взрослых (18-40 лет)
                        +icon('chevron-right','main-subnav__icon')
                    ul.main-subnav__list
                        li.main-subnav__item
                          a(href="").main-subnav__link
                            span.main-subnav__text Таблетки для взрослых (18-40 лет)
                        li.main-subnav__item
                          a(href="").main-subnav__link
                            span.main-subnav__text Таблетки для взрослых (18-40 лет)
                        li.main-subnav__item
                          a(href="").main-subnav__link
                            span.main-subnav__text Таблетки для взрослых (18-40 лет)
                li.main-subnav__item
                    a(href="").main-subnav__link
                        span.main-subnav__text Таблетки для взрослых (40+ лет)
                        +icon('chevron-right','main-subnav__icon')
                    ul.main-subnav__list
                        li.main-subnav__item
                            a(href="").main-subnav__link
                                span.main-subnav__text blalbalba
                        li.main-subnav__item
                            a(href="").main-subnav__link
                                span.main-subnav__text blalbalba
                        li.main-subnav__item
                            a(href="").main-subnav__link
                                span.main-subnav__text blalbalba
                        li.main-subnav__item
                            a(href="").main-subnav__link
                                span.main-subnav__text blalbalba
                        li.main-subnav__item
                            a(href="").main-subnav__link
                                span.main-subnav__text blalbalba
                        li.main-subnav__item
                            a(href="").main-subnav__link
                                span.main-subnav__text blalbalba
                        li.main-subnav__item
                            a(href="").main-subnav__link
                                span.main-subnav__text blalbalba
                        li.main-subnav__item
                            a(href="").main-subnav__link
                                span.main-subnav__text blalbalba
                        li.main-subnav__item
                            a(href="").main-subnav__link
                                span.main-subnav__text blalbalba
                        li.main-subnav__item
                            a(href="").main-subnav__link
                                span.main-subnav__text blalbalba
                        li.main-subnav__item
                            a(href="").main-subnav__link
                                span.main-subnav__text blalbalba
                        li.main-subnav__item
                            a(href="").main-subnav__link
                                span.main-subnav__text blalbalba
                li.main-subnav__item
                    a(href="").main-subnav__link
                        span.main-subnav__text Таблетки для детей (0-3 лет)
                        +icon('chevron-right','main-subnav__icon')
                li.main-subnav__item
                    a(href="").main-subnav__link
                        span.main-subnav__text Таблетки для взрослых (40+ лет)
                        +icon('chevron-right','main-subnav__icon')
                li.main-subnav__item
                    a(href="").main-subnav__link
                        span.main-subnav__text Таблетки для детей (0-3 лет)
                        +icon('chevron-right','main-subnav__icon')
                li.main-subnav__item
                    a(href="").main-subnav__link
                        span.main-subnav__text Таблетки для взрослых (40+ лет)
                        +icon('chevron-right','main-subnav__icon')
                li.main-subnav__item
                    a(href="").main-subnav__link
                        span.main-subnav__text Таблетки для детей (0-3 лет)
                        +icon('chevron-right','main-subnav__icon')
