.search {
  position: relative;
  &.search--open {
    .search__body {
      display: block;
    }
  }
  &__icon {
    @include size(20px);
    cursor: pointer;
    fill: $fun-green;
  }
  &__body {
    background-color: white;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, .1), 0 2px 5px 0 rgba(0, 0, 0, .05);
    display: none;
    padding: 20px;
    position: absolute;
    right: 0;
    top: -35px;
    width: 550px;
  }
  &__form {
    align-items: center;
    display: flex;
  }
  &__input {
    background-color: transparent;
    border: 1px solid $alto;
    border-right: 0;
    border-radius: 2px 0 0 2px;
    color: $tundora;
    padding: 0 50px 0 20px;
    line-height: 48px;
    height: 50px;
    width: 100%;
    &::placeholder {
      color: $placeholder-color;
    }
    &-wrapper {
      flex: 1;
      position: relative;
    }
  }
  &__clear {
    bottom: 0;
    align-items: center;
    cursor: pointer;
    display: flex;
    justify-content: center;
    position: absolute;
    right: 0;
    top: 0;
    width: 40px;
    z-index: 1;
    &-icon {
      fill: rgba(75, 75, 75, 0.5);
      @include size(16px)
    }
  }
  &__btn {
    background-color: $fun-green;
    border: 0;
    border-radius: 0 4px 4px 0;
    font-weight: 700;
    color: white;
    cursor: pointer;
    flex: 0 0 auto;
    height: 50px;
    padding: 0 15px;
  }
}